:root {
    /*--main-color: rgb(253,217,141);
    --second-color: #333;
    --bg-color: rgb(253,217,141);
    --font-color: black;
    --font-2nd-color: #f2a86f;
    --interface-color: #333;
    --interface-text-color: rgb(253,217,141);*/
    /*--interface-color: #00010D;*/
    /*--interface-color: #00060D;*/
    --interface-color: #0A0B0D;
    --interface-text-color: rgb(253,217,141);
    --font-normal: 'Apple';
    --font-bold: 'Apple-semi-bold';
}
* {
    margin: 0;
    padding: 0;
}
/*————————————————————————————————————————|Gotham|————————————————————*/
@font-face {
    font-family: 'Gotham-normal';
    src: url('../files/fonts/sfui/SFUIText-Regular.otf');
}
@font-face {
    font-family: 'Gotham-bold';
    src: url('../files/fonts/gotham/Gotham-Bold.otf');
}
@font-face {
    font-family: 'Gotham-semi-bold';
    src: url('../files/fonts/sfui/SFUIText-Semibold.otf');
}
@font-face {
    font-family: 'Gotham-heavy';
    src: url('../files/fonts/sfui/SFUIText-Heavy.otf');
}
@font-face {
    font-family: 'Gotham-light';
    src: url('../files/fonts/sfui/SFUIText-Light.otf');
}
/*————————————————————————————————————————|Fonts|————————————————————*/
@font-face {
    font-family: 'Ubuntu';
    src: url('../files/fonts/sfui/Ubuntu-Regular.ttf');
}
@font-face {
    font-family: 'Apple';
    src: url('../files/fonts/sfui/SFUIText-Regular.otf');
}
@font-face {
    font-family: 'Apple-bold';
    src: url('../files/fonts/sfui/SFUIText-Bold.otf');
}
@font-face {
    font-family: 'Apple-heavy';
    src: url('../files/fonts/sfui/SFUIText-Heavy.otf');
}
@font-face {
    font-family: 'Apple-semi-bold';
    src: url('../files/fonts/sfui/SFUIText-Semibold.otf');
}
@font-face {
    font-family: 'Apple-light';
    src: url('../files/fonts/sfui/SFUIText-Light.otf');
}
/*————————————————————————————————————————|Header|————————————————————*/
header {
    background-color: var(--interface-color);
    color: var(--interface-text-color);
    font-family: var(--font-bold);
    text-align: center;
    max-width: 100%;
}
body {
    font-family: var(--font-normal);
}
::selection {
    background-color: rgb(253,217,141);
}
h1 {
    padding: 0.3em;
}
h1, h2 {
    font-weight: normal;
    font-family: var(--font-bold);
}
/*————————————————————————————————————————||————————————————————*/
/*
#page-content {
    margin-left: 5%;
    margin-right: 5%;
}
*/
/*————————————————————————————————————————|GAME|————————————————————*/
#game-searched-word {
    text-align: center;
    width: 350px;
    padding: 0.5em;
}
.true {
    color: green;
}
.false {
    color: red;
}
#user-word {
    padding: 0.5em;
    border: none;
    border-bottom: solid 1px black;
    font-size: 1.5em;
}
#user-word:focus {
    outline: none;
}
#recommendation {
    background-color: var(--interface-color);
    color: var(--interface-text-color);
    font-family: var(--font-bold);
    padding: 0.5em;
    border-radius: 0.2em;
}
#searched-word {
    padding: 0.5em;
    font-family: var(--font-bold);
}
#wynik {
    padding: 0.5em;
    margin-bottom: 1em;
}
#wynik p {
    text-align: left;
}
#game-form {
    display: inline-flex;
    width: 100%;
    overflow: hidden;
}
#game-form #user-word {
    width: 90%;
}
/*————————————————————————————————————————|dictionary|————————————————————*/
#dictionary {
    padding: 0.5em;
}
.word-cont {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
}
.word {
    font-family: var(--font-normal);
}
.translate {
    color: gray;
}
.pause {
    margin-left: 0.5em;
    margin-right: 0.5em;
}
/*————————————————————————————————————————|symbols|————————————————————*/
.symbols {
    background-color: var(--interface-color);
    color: var(--interface-text-color);
    padding: 0.5em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    border-radius: 0.2em;
    user-select: none;
}
/*————————————————————————————————————————|Search|————————————————————*/
#searchelement {
    padding: 0.5em;
    border: none;
    border-bottom: solid 1px black;
}
#searchelement:focus {
    outline: none;
    font-size: 1.5em;
}
/*————————————————————————————————————————|Kategorie|————————————————————*/
#kategorie {
    padding: 0.5em;
    /*width: 350px;*/
}
#kategorie span {
    background-color: var(--interface-color);
    color: var(--interface-text-color);
    font-family: var(--font-bold);
    padding: 0.5em;
    border-radius: 0.2em;
}
#kategorie button {
    background-color: var(--interface-color);
    color: var(--interface-text-color);
    font-family: var(--font-bold);
    margin: 0.2em;
    border: none;
    padding: 0.5em;
    border-radius: 0.2em;
    
}
#submit {
    background-color: var(--interface-color);
    color: var(--interface-text-color);
    font-family: var(--font-bold);
    padding: 0.5em;
    border-radius: 0.2em;
    width: 2.5em;
}
/*————————————————————————————————————————|select|————————————————————*/
#select {
    background-color: var(--interface-color);
    color: var(--interface-text-color);
    font-family: var(--font-bold);
    font-size: 1em;
    border-radius: 0.2em;
    padding: 0.5em;
    /*width: 70%;*/
}
#select-count {
    background-color: var(--interface-color);
    color: var(--interface-text-color);
    font-family: var(--font-bold);
    font-size: 1em;
    border-radius: 0.2em;
    padding: 0.5em;
}
#refresh {
    background-color: var(--interface-color);
    color: var(--interface-text-color);
    font-family: var(--font-bold);
    font-size: 1em;
    padding: 0.5em;
    border-radius: 0.2em;
    /*width: 25%;*/
}
/*————————————————————————————————————————||————————————————————*/
.wrong {
    color: red;
    text-decoration: line-through;
}
.correct {
    color: green;
    font-family: var(--font-bold);
}
/*————————————————————————————————————————||————————————————————*/
/*#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    font-family: var(--font-bold);
    animation: slideAndFade 5s ease-in-out infinite;
  }
  
  #loading::before {
    content: "VSKY GAME";
  }
  @keyframes slideAndFade {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
/*————————————————————————————————————————||————————————————————*/
@media screen and (min-width: 200px) {
    #page-content {
        margin-left: 0;
        margin-right: 0;
        max-width: 100%;
        overflow: hidden;
    }
    #game-searched-word {
        width: 95%;
        overflow: hidden;
    }
    #dictionary {
        padding: 1em;
    }
    #searchelement {
        font-size: 1.5em;
    }
    #submit {
        width: 4em;
    }
    #mobile-widgets {
        visibility: visible;
        position: fixed;
        bottom: 0;
        right: 0;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        border-top-left-radius: 1vw;
        border-top-right-radius: 1vw;
        background-color: var(--interface-color);
        color: var(--interface-text-color);
    }
    #mobile-widgets a {
        background-color: var(--interface-color);
        color: var(--interface-text-color);
        padding: 0.5em;
        text-decoration: none;
        font-family: 'Apple-bold';
    }
    #refresh {
        visibility: hidden;
        position: fixed;
    }
}
@media screen and (min-width: 1200px) {
    #page-content {
        margin-left: 5%;
        margin-right: 5%;
    }
    #game-searched-word {
        width: 350px;
    }
    #dictionary {
        padding: 0.5em;
    }
    #searchelement {
        font-size: 0.8em;
    }
    #submit {
        width: 2.5em;
    }
    #mobile-widgets {
        visibility: hidden;
    }
    #refresh {
        visibility: visible;
        position: relative;
    }
}
